@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap');
html{
    overflow: hidden;
}

*{
transition: all 0.3s;
text-align: center;
}

body {
    margin: 0;
    font-family: Product Sans;
    height: 100vh;
    background: #2c2f33;
    position: relative;
    text-shadow: 0 0 10px gray;
    font-size: 30px;
}

#ip-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

.card {
    background: #23272a;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 80px black;
}

h1 {
    color: #ffffff;
    margin: 0;
}

#ip-address {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

#footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffffff;
}

.heart{
    text-shadow: 0 0 20px purple;
}

.creditname{
    color: white;
}

.credit{
    font-size: 16px;
}

